body {
    font-family: -apple-system, Arial, sans-serif;
    background: #111;
    color: white;
    padding: 20px;
}
h1 {
    text-align: center;
}

input, button {
    width: 100%;
    padding: 12px;
    margin: 6px 0;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

button {
    background: #2ecc71;
    color: white;
    font-weight: bold;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    border-bottom: 1px solid #333;
    text-align: left;
}

.cheapest {
    color: #2ecc71;
    font-weight: bold;
}